@import './mixins.scss';
@import './variables.scss';

/* Mode filter */
div[data-style="BattleTableStyle-containerButtonsPick"] {
	/* Any */
	& > div[data-style="BattleTableStyle-blockAllButton BattleTableStyle-whiteTextButton"],
	& > div[data-style="BattleTableStyle-blockAllButton BattleTableStyle-whiteTextButton BattleTableStyle-opacityButton"] {
		@include no-border();

		border-top: 3px solid #ffffff50;

		background: #00000030;
	
		transition: 100ms ease-in-out;
		transition-property: background-color, border-top-color;
	}

	/* Selected */
	& > div[data-style="BattleTableStyle-blockAllButton BattleTableStyle-whiteTextButton"] {
		border-top-color: #ffffffc0;
		
		background: #00000080;
	}

	/* Unselected */
	& > div[data-style="BattleTableStyle-blockAllButton BattleTableStyle-whiteTextButton BattleTableStyle-opacityButton"] {
		&:hover {
			border-top-color: #ffffff80;

			background: #00000060;
		}
	}
}

/* Map name / battle name switch */
div[data-style="BattleTableStyle-commonBlockForButton"] {
	/* Any */
	& > div {
		@include no-background();
		@include no-border();
	}

	/* Selected */
	& > div[data-style="BattleTableStyle-buttonCard BattleTableStyle-buttonBattleAndMap"] {

	}

	/* Unselected */
	& > div[data-style="BattleTableStyle-buttonBattleAndMap"] {

	}
}

/* Battle list */
table[data-style="TableComponentStyle-table"] {
	& > tbody {
		& > tr {
			margin-bottom: 3px;

			background: #ffffff15;

			transition: 100ms ease-in-out;
			transition-property: background-color;
			
			&:hover {
				background: #ffffff30;
			}
		}
	}
}
