$premiumSubscriptionWrapper: 'div.cHCHun';
$premiumSubscriptionContainer: 'div.ioLhrE';

$garageItem: 'div.garage-item';

$garageAlternationItemCurrentSelected: 'div.bUpBfV';
$garageAlternationItemAvailable: 'div.ebWhMr';
$garageAlternationItemCurrent: 'div.dDRcgP';
$garageAlternationItemEmpty: 'div.gTVZYP';
$garageAlternationItem: 'div.lkQQUj';

$backgroundLevel1: #00000030;
$backgroundLevel2: #00000050;
$backgroundLevel3: #00000080;
$backgroundLevel4: #000000a0;

$shadowLevel1: #000000bb;
