$switchWidth: 3em;
$switchHeight: 1.5em;

$switchBorderRadius: 16px;

$switchThumbMargin: 3px;
$switchThumbBorderRadius: 50%;

div.switch-wrapper {
	display: flex;

	align-items: center;

	user-select: none;

	& > div.switch {
		display: flex;

		width: 3em;
		height: $switchHeight;

		border-radius: $switchBorderRadius;
		
		background-color: #616161;

		box-shadow: inset 0 1px 1px #00000026;

		transition: 150ms ease-in-out;
		transition-property: background-color;

		cursor: pointer;

		&::after {
			content: '';

			position: absolute;

			width: calc(#{$switchHeight} - (#{$switchThumbMargin} * 2));
			height: calc(#{$switchHeight} - (#{$switchThumbMargin} * 2));

			margin: $switchThumbMargin;

			border-radius: $switchThumbBorderRadius;
			
			z-index: 1;

			background-color: #ffffff;

			transition: 150ms ease-in-out;
			transition-property: transform;
		}

		&--hover {
		}

		&--mouse-out {
			
		}

		&--unchecked {
			&.switch--hover {
				background-color: #757575;
			}
		}

		&--checked {
			background-color: #1976d2;

			&::after {
				transform: translate(calc(1.5em), 0);
			}

			&.switch--hover {
				background-color: #1e88e5;
			}
		}
	}

	& > div.switch-value {
		font-family: 'Exo 2', sans-serif;
		font-weight: 300;

		&:first-of-type {
			margin-right: 0.5em;
		}

		&:last-of-type {
			margin-left: 0.5em;
		}
	}
}
