div.tree {
	display: flex;

	flex-direction: column;

	padding: 0.25em;

	border-radius: 2px;

	font-family: 'Exo 2', sans-serif;

	background-color: #000000aa;

	user-select: none;

	div.tree-node {
		display: flex;

		flex-direction: column;

		margin-left: 1em;

		background-color: #00000000;

		& > div.tree-node-header {
			display: flex;
	
			align-items: center;

			padding: 0.25em 0.25em;

			border-radius: 2px;

			cursor: pointer;

			transition-property: background-color;
			transition: 75ms ease-in-out;

			&.tree-node-header--hover {
				background-color: #ffffff20;
			}

			&:not(.tree-node-header--hover) {
				
			}

			& > div.tree-node-header-title {
				
			}
		}

		&.tree-node--root {
			margin-left: 0;
		}

		&:not(.tree-node--root) {
			& > div.tree-node-header {
				margin-left: 1em;
			}
		}

		&.tree-node--has-children {
			& > div.tree-node-header {
				margin-left: 0em;
			}
		}

		&:not(.tree-node--has-children) {
			& > div.tree-node-header {
				padding: 0.25em 1.5em + 0.25em;

				margin-left: 0;
			}
		}

		& > div.tree-node-children {
			display: flex;
	
			flex-direction: column;
		}

		&:not(:last-of-type) {
			margin-bottom: 0.25em;
		}

		&.tree-node--hover {
		}

		&:not(.tree-node--hover) {
			
		}
	}
}
