div.settings-section-wrapper {
	user-select: none;

	& > div.settings-section {
		display: flex;

		flex-direction: column;

		padding-left: 0.5em;

		border-left: 3px solid #ffffff50;

		& > span.section-title {
			margin-bottom: 0.4em;

			font-family: 'Exo 2', sans-serif;
			font-weight: 300;
			font-size: 1.8em;

			color: #ffffff;
		}

		& > div.section-content {
			display: flex;

			flex-direction: column;

			& > div {
				margin: 0.25em 0;
			}
		}
	}
}
