/* Battle statistics container */
div[data-style=BattleTabStatisticComponentStyle-container] > div[data-style="BattleTabStatisticComponentStyle-containerInsideTeams BattleTabStatisticComponentStyle-containerInside"], div[data-style=BattleTabStatisticComponentStyle-container] > div[data-style="BattleTabStatisticComponentStyle-containerInsideResults BattleTabStatisticComponentStyle-containerInside"] {
  border-radius: 4px;
  background: #00000080;
  backdrop-filter: blur(4px);
  /* Header */
  /* Score tables */
}
div[data-style=BattleTabStatisticComponentStyle-container] > div[data-style="BattleTabStatisticComponentStyle-containerInsideTeams BattleTabStatisticComponentStyle-containerInside"] div[data-style=BattleTabStatisticComponentStyle-header], div[data-style=BattleTabStatisticComponentStyle-container] > div[data-style="BattleTabStatisticComponentStyle-containerInsideResults BattleTabStatisticComponentStyle-containerInside"] div[data-style=BattleTabStatisticComponentStyle-header] {
  background: transparent;
  border: none;
  border-top: 3px solid #00000050;
  border-radius: inherit;
  /* Map name */
}
div[data-style=BattleTabStatisticComponentStyle-container] > div[data-style="BattleTabStatisticComponentStyle-containerInsideTeams BattleTabStatisticComponentStyle-containerInside"] div[data-style=BattleTabStatisticComponentStyle-header] > span, div[data-style=BattleTabStatisticComponentStyle-container] > div[data-style="BattleTabStatisticComponentStyle-containerInsideResults BattleTabStatisticComponentStyle-containerInside"] div[data-style=BattleTabStatisticComponentStyle-header] > span {
  margin-top: 1em;
}
div[data-style=BattleTabStatisticComponentStyle-container] > div[data-style="BattleTabStatisticComponentStyle-containerInsideTeams BattleTabStatisticComponentStyle-containerInside"] div[data-style=BattleTabStatisticComponentStyle-header]::before, div[data-style=BattleTabStatisticComponentStyle-container] > div[data-style="BattleTabStatisticComponentStyle-containerInsideTeams BattleTabStatisticComponentStyle-containerInside"] div[data-style=BattleTabStatisticComponentStyle-header]::after, div[data-style=BattleTabStatisticComponentStyle-container] > div[data-style="BattleTabStatisticComponentStyle-containerInsideResults BattleTabStatisticComponentStyle-containerInside"] div[data-style=BattleTabStatisticComponentStyle-header]::before, div[data-style=BattleTabStatisticComponentStyle-container] > div[data-style="BattleTabStatisticComponentStyle-containerInsideResults BattleTabStatisticComponentStyle-containerInside"] div[data-style=BattleTabStatisticComponentStyle-header]::after {
  display: none;
}
div[data-style=BattleTabStatisticComponentStyle-container] > div[data-style="BattleTabStatisticComponentStyle-containerInsideTeams BattleTabStatisticComponentStyle-containerInside"] div[data-style=BattleTabStatisticComponentStyle-tablesContainer], div[data-style=BattleTabStatisticComponentStyle-container] > div[data-style="BattleTabStatisticComponentStyle-containerInsideResults BattleTabStatisticComponentStyle-containerInside"] div[data-style=BattleTabStatisticComponentStyle-tablesContainer] {
  margin-top: 1em;
}
div[data-style=BattleTabStatisticComponentStyle-container] > div[data-style="BattleTabStatisticComponentStyle-containerInsideTeams BattleTabStatisticComponentStyle-containerInside"] div[data-style=BattleTabStatisticComponentStyle-tablesContainer] table > thead, div[data-style=BattleTabStatisticComponentStyle-container] > div[data-style="BattleTabStatisticComponentStyle-containerInsideResults BattleTabStatisticComponentStyle-containerInside"] div[data-style=BattleTabStatisticComponentStyle-tablesContainer] table > thead {
  top: 3em;
}
div[data-style=BattleTabStatisticComponentStyle-container] > div[data-style="BattleTabStatisticComponentStyle-containerInsideTeams BattleTabStatisticComponentStyle-containerInside"] div[data-style=BattleTabStatisticComponentStyle-tablesContainer] table > tbody, div[data-style=BattleTabStatisticComponentStyle-container] > div[data-style="BattleTabStatisticComponentStyle-containerInsideResults BattleTabStatisticComponentStyle-containerInside"] div[data-style=BattleTabStatisticComponentStyle-tablesContainer] table > tbody {
  /* Other players */
  /* Current player */
}
div[data-style=BattleTabStatisticComponentStyle-container] > div[data-style="BattleTabStatisticComponentStyle-containerInsideTeams BattleTabStatisticComponentStyle-containerInside"] div[data-style=BattleTabStatisticComponentStyle-tablesContainer] table > tbody tr[data-style=BattleTabStatisticComponentStyle-rowBackGround], div[data-style=BattleTabStatisticComponentStyle-container] > div[data-style="BattleTabStatisticComponentStyle-containerInsideResults BattleTabStatisticComponentStyle-containerInside"] div[data-style=BattleTabStatisticComponentStyle-tablesContainer] table > tbody tr[data-style=BattleTabStatisticComponentStyle-rowBackGround] {
  background: #00000015;
}
div[data-style=BattleTabStatisticComponentStyle-container] > div[data-style="BattleTabStatisticComponentStyle-containerInsideTeams BattleTabStatisticComponentStyle-containerInside"] div[data-style=BattleTabStatisticComponentStyle-tablesContainer] table > tbody tr[data-style=BattleTabStatisticComponentStyle-selectedRowBackGround], div[data-style=BattleTabStatisticComponentStyle-container] > div[data-style="BattleTabStatisticComponentStyle-containerInsideResults BattleTabStatisticComponentStyle-containerInside"] div[data-style=BattleTabStatisticComponentStyle-tablesContainer] table > tbody tr[data-style=BattleTabStatisticComponentStyle-selectedRowBackGround] {
  background: #00000060;
}

/* Battle notifications */
div[data-style=BattleMessagesComponentStyle-container] > div[data-style=BattleMessagesComponentStyle-messageRow] > span[data-style=BattleMessagesComponentStyle-message] {
  background: #00000070;
  backdrop-filter: blur(4px);
}
div[data-style=BattleMessagesComponentStyle-container] > div[data-style=BattleMessagesComponentStyle-messageRow] > span[data-style=BattleMessagesComponentStyle-message]::before, div[data-style=BattleMessagesComponentStyle-container] > div[data-style=BattleMessagesComponentStyle-messageRow] > span[data-style=BattleMessagesComponentStyle-message]::after {
  display: none;
}

/* HUD buttons (statistics, pause) */
div[data-style=BattleHudComponentStyle-buttonsContainer] > div[data-style="BattleHudComponentStyle-tabButton BattleHudComponentStyle-hudButton"], div[data-style=BattleHudComponentStyle-buttonsContainer] > div[data-style="BattleHudComponentStyle-pauseButton BattleHudComponentStyle-hudButton"] {
  background: #00000010;
  transition: 100ms ease-in-out;
  transition-property: background-color;
}
div[data-style=BattleHudComponentStyle-buttonsContainer] > div[data-style="BattleHudComponentStyle-tabButton BattleHudComponentStyle-hudButton"]:hover, div[data-style=BattleHudComponentStyle-buttonsContainer] > div[data-style="BattleHudComponentStyle-pauseButton BattleHudComponentStyle-hudButton"]:hover {
  background: #00000050;
}

/* Battle fund container */
div[data-style=BattleHudComponentStyle-fundContainer] {
  /* Battle fund element */
}
div[data-style=BattleHudComponentStyle-fundContainer] > div[data-style=BattleHudComponentStyle-fundElement] {
  background: #00000070;
}

/* Battle results statistics table */
div[data-style=BattleKillBoardComponentStyle-tableContainer] > table[data-style=TableComponentStyle-table] > thead th {
  background: transparent;
}
div[data-style=BattleKillBoardComponentStyle-tableContainer] > table[data-style=TableComponentStyle-table] > tbody > tr {
  background: #00000015;
}
div[data-style=BattleKillBoardComponentStyle-tableContainer] > table[data-style=TableComponentStyle-table] > tbody > tr#selfUserBg {
  background: #00000060;
}

/* Player information (in battle) */
div[data-style=UserInfoContainerStyle-containerProgressMainScreen] {
  /* Player XP progress */
}
div[data-style=UserInfoContainerStyle-containerProgressMainScreen] > div:nth-child(2) {
  height: 0.5em;
  border-radius: 4px;
}
div[data-style=UserInfoContainerStyle-containerProgressMainScreen] > div:nth-child(2)::after {
  border-radius: inherit;
}

/* Battle results: player progress */
div[data-style=BattleResultUserInfoComponentStyle-progressVictoryContainer] div[data-style=BattleResultUserInfoComponentStyle-containerProgress] {
  /* Player XP progress */
  /* Player XP progress (earned) */
}
div[data-style=BattleResultUserInfoComponentStyle-progressVictoryContainer] div[data-style=BattleResultUserInfoComponentStyle-containerProgress] > div:nth-child(2) {
  height: 0.5em;
  border-radius: 4px;
}
div[data-style=BattleResultUserInfoComponentStyle-progressVictoryContainer] div[data-style=BattleResultUserInfoComponentStyle-containerProgress] > div:nth-child(2)::after {
  border-radius: inherit;
}
div[data-style=BattleResultUserInfoComponentStyle-progressVictoryContainer] div[data-style=BattleResultUserInfoComponentStyle-containerProgress] > div:nth-child(3) {
  display: none;
}

/* Battle results */
div[data-style=BattleRewardsComponentStyle-contentContainer] > div[data-style=BlockResultTankComponentStyle-blockTank] > img:last-child {
  display: none;
}
div[data-style=BattleRewardsComponentStyle-contentContainer] table tr[data-style=BattleRewardsComponentStyle-selectedRow],
div[data-style=BattleRewardsComponentStyle-contentContainer] table tr[data-style=BattleRewardsComponentStyle-normalRow] {
  background: #ffffff10;
}

/*# sourceMappingURL=battle.css.map */
