/* Chat close area */
div[data-style=ChatComponentStyle-closeArea] {
  background: transparent;
}

/* Chat window */
div[data-style=ChatComponentStyle-chatWindow] {
  background: #00000050;
  backdrop-filter: blur(6px);
  /* Chat message */
  /* Message input container */
}
div[data-style=ChatComponentStyle-chatWindow] > div[data-style=ChatComponentStyle-upMenu] {
  background: transparent;
}
div[data-style=ChatComponentStyle-chatWindow] div[data-style=ChatComponentStyle-messagesContainer] {
  /* Normal message */
  /* Date message container */
}
div[data-style=ChatComponentStyle-chatWindow] div[data-style=ChatComponentStyle-messagesContainer] > div[data-style=ChatComponentStyle-messageRow] {
  filter: drop-shadow(1px 1px 2px #000000bb);
  /* Message time */
  /* Message author container */
  /* Message content */
  /* Direct message icon */
}
div[data-style=ChatComponentStyle-chatWindow] div[data-style=ChatComponentStyle-messagesContainer] > div[data-style=ChatComponentStyle-messageRow] > div[data-style=ChatComponentStyle-timeContainer] {
  user-select: none;
}
div[data-style=ChatComponentStyle-chatWindow] div[data-style=ChatComponentStyle-messagesContainer] > div[data-style=ChatComponentStyle-messageRow] > div[data-style="ChatComponentStyle-chatUserLabel Font-smalls Font-normal"] {
  /* Message author rank image */
  /* Message author username */
}
div[data-style=ChatComponentStyle-chatWindow] div[data-style=ChatComponentStyle-messagesContainer] > div[data-style=ChatComponentStyle-messageRow] > div[data-style="ChatComponentStyle-chatUserLabel Font-smalls Font-normal"] > img {
  user-select: none;
}
div[data-style=ChatComponentStyle-chatWindow] div[data-style=ChatComponentStyle-messagesContainer] > div[data-style=ChatComponentStyle-messageRow] > div[data-style="ChatComponentStyle-chatUserLabel Font-smalls Font-normal"] > span {
  color: #ffffff;
}
div[data-style=ChatComponentStyle-chatWindow] div[data-style=ChatComponentStyle-messagesContainer] > div[data-style=ChatComponentStyle-messageRow] > div[data-style="ChatComponentStyle-message Font-smalls Font-normal"] {
  color: #ffffff;
}
div[data-style=ChatComponentStyle-chatWindow] div[data-style=ChatComponentStyle-messagesContainer] > div[data-style=ChatComponentStyle-messageRow] > img[data-style=ChatComponentStyle-directMessageIcon] {
  filter: brightness(0) invert(1);
}
div[data-style=ChatComponentStyle-chatWindow] div[data-style=ChatComponentStyle-messagesContainer] > div[data-style="ChatComponentStyle-dateContainer Font-smalls Font-normal"] {
  /* Date message */
}
div[data-style=ChatComponentStyle-chatWindow] div[data-style=ChatComponentStyle-messagesContainer] > div[data-style="ChatComponentStyle-dateContainer Font-smalls Font-normal"] > span {
  user-select: none;
  filter: drop-shadow(1px 1px 2px #000000bb);
  color: #ffffff;
}
div[data-style=ChatComponentStyle-chatWindow] > div[data-style="ChatComponentStyle-inputContainer Common-backgroundColor"] {
  border: none;
  background: #00000030;
  width: 100%;
  margin: 0;
  /* Message input field */
  /* Send message button */
}
div[data-style=ChatComponentStyle-chatWindow] > div[data-style="ChatComponentStyle-inputContainer Common-backgroundColor"] > input {
  text-shadow: 1px 1px 3px #000000;
}
div[data-style=ChatComponentStyle-chatWindow] > div[data-style="ChatComponentStyle-inputContainer Common-backgroundColor"] > div[data-style=ChatComponentStyle-sendButton] {
  user-select: none;
}

/*# sourceMappingURL=chat.css.map */
